<body style="font-family: helvetica;">
  <span style="display: block; margin: auto;">
<section style=" font-family: helvetica;
   margin: 10px;
   width:100vh;">

<h1 style="text-align:center;">SKATEZAR</h1>

  <p style="text-align: center; padding: 10px; font-size: 24px; background-color: rgba(238, 238, 238, 1); ">You have a new message on skatezar!</p>
  <div style="padding: 10px; background-color: rgba(238, 238, 238, 1); ">


    <p style="text-align:center;">
      <%= link_to "Click here to reply now", chatrooms_url, target: '_blank', class: "reply-now-link" %>
    </p>
  </div>

  <br>

  <div style="background-color: rgba(238, 238, 238, 1); padding:10px;">
    <br>
    <a href="mailto:office@skatezar.com" style="text-align: center; display: block;margin: auto;" class="social-links">office@skatezar.com</a>

    <br>

  </div>

  </div>

</section>

</span>


</body>
