<br>


<div class="container">

<p>
    <a class="btn btn-white d-flex justify-content-between" data-toggle="collapse" href="#collapseq12" role="button" aria-expanded="false" aria-controls="collapseq11">

      <span>More Games</span>
      <span> + </span>
    </a>
  </p>
  <div class="collapse" id="collapseq12">
    <div class="card card-body">
      <div class="container d-flex justify-content-center">
        <%= link_to " Ledge Dice", ledgedice_path, class: " w-100 mt-2 navbar-btns sell-link" %>
      </div>
      <br>
      <div class="container d-flex justify-content-center">
        <%= link_to " Skate Dice", skatedice_path, class: " w-100 mt-2 navbar-btns sell-link" %>
      </div>
    </div>
  </div>

</div>
