<% content_for :meta_title, "Do I need skateboarding shoes?" %>
<% content_for :meta_description, "Do you need skateboarding shoes? Short answer: Yes. There are a few reasons why." %>


<div class="container">
<h1 class="text-center">Do you need skateboarding shoes?</h1>
<p>
  Short answer:<span class="bold"> YES, you do.</span>
</p>

<p>
  Many people starting out in skateboarding think that skateboarding shoes are not necessary. </p>

<p>
  Although you can skate with any shoe, using skateboarding shoes <span class="bold">will help you learn much faster </span>.
</p>

<br>
<h5 class="bold">What skateboarding shoe should I buy?</h5>
<p class="subtitle">Here are some guiding points:</p>
<ul>
  <li>Make sure its meant to be a skateboarding shoe. For example, Nike's skateboarding shoes are tagged with 'SB' for skateboarding.</li>
  <li>If you want great board feeling, pick thin shoes such as Vans Slip Ons.
    They will rip quickly - but they give great board feeling for the time that they last.
  </li>
  <li>If you want safety, pick thicker shoes with heel support.
    <img alt="skateboarding shoe" src="https://res.cloudinary.com/diopgwo4d/image/upload/v1620202768/0f6a57eeb6f44c12af8c156e7d7904f6-removebg-preview_gekpgc.png" class="img-small center-img" style="margin-top:-150px;">
    <p style="margin-top:-150px;">As you can see in the shoe above, the sole is thick and acts as extra support.</p>
  </li>
  <li>
    A good add-on are extra insoles such as <a href="https://www.fpinsoles.com/every-foot-is-different/" target="_blank">FP insoles</a> that provide extra protection</li>
  </li>
  <li>Because of the skateboard's griptape, shoes will rip. There are no shoes that will last forever. Something you can do though is use <a href="https://en.wikipedia.org/wiki/Shoe_Goo" target="_blank">Shoe Goo</a>. Add this glue to the stitches
  of your shoe and it will last much longer.</li>
</ul>

<h5 class="bold">Where to buy skateboarding shoes?</h5>
<p>
  Skatezar! <a href="https://skatezar.com/?search%5Blocation%5D=&search%5Bcategories%5D%5B%5D=Shoes&search%5Bpricemin%5D=0&search%5Bpricemax%5D=999&commit=Search">Click here</a>
  to see what shoes are currently available on skatezar.
</p>

<h5 class="bold">Why use skateboarding shoes? Are skateboarding shoes necessary?</h5>
<p>
  Any experienced skateboarder understands that it is necessary to have skateboarding shoes.
</p>
<p>
  Do experienced football players use hiking shoes to play football? No. Why should it be different with skateboarding?
</p>
<h5 class="bold">Summary</h5>
<p>Make sure you skate with shoes that are intended to be skateboarding shoes. Of course, skateboarding shoes can
come in all shapes and sizes. Some skaters like thicker shoes with more safety but less board feeling - some skaters prefer the opposite.
</p>

<p></p>
</div>




<style type="text/css">
  .bold{
    font-weight:bold;
  }
  .img-small{
    width:350px;
  }
  .center-img{
    display: block;
    margin: auto;
  }
</style>

