<% content_for :meta_title, "SKATEZAR: Blog" %>
<% content_for :meta_description, "Read about skateboarding. Tips & Tricks shared by skaters, for skaters." %>

<h2 class="text-center">SKATEBOARDING BLOG</h2>
<br>

<a href="<%= blog1_path %>" class="style-fix" >
  <div class="container">
    <div class="card-product">
      <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1620049917/0xlf5s5ngyjgcx5bfzu5oc1yx6eb.jpg" />
      <div class="card-product-infos">
        <h2>Are skateboarding shoes necessary?</h2>
        <p>Pick the right <strong>skateboarding shoe!</strong></p>
      </div>
    </div>
  </div>
</a>

<br>

<a href="<%= blog2_path %>" class="style-fix" >
  <div class="container">
    <div class="card-product">
      <img src="https://res.cloudinary.com/diopgwo4d/image/upload/c_fill/e75yenczi3eqfxb7i8xfnx7fo8r5" />
      <div class="card-product-infos">
        <h2>Where to skate in Vienna?</h2>
        <p>Skateparks & Skatespots in <strong>Vienna, Austria</strong></p>
      </div>
    </div>
  </div>
</a>

