<% content_for :meta_title, "Support local skateboarding communities" %>
<% content_for :meta_description, "Support skateboarding communities in countries of need such as Palestine and Uganda." %>

<div class="container">
  <h2 class="text-center">SUPPORT LOCAL COMMUNITIES</h2>
  <br>

  <p style="font-weight:bold;" class="text-center">Here you can support the building of skateparks in countries of need</p>
      <p>
        <a class="btn btn-white d-flex justify-content-between" data-toggle="collapse" href="#collapseq1" role="button" aria-expanded="false" aria-controls="collapseq1">
          <span>Uganda Skateboard Community</span>
          <span>+</span>
        </a>
      </p>
      <div class="collapse" id="collapseq1">
        <div class="card card-body">
          <p>
            The
            <a href="https://www.instagram.com/ugandaskateboardcommunity" target="_blank">

            @ugandaskateboardcommunity</a>
            is building skateparks for the skateboarding community in Uganda. The team is in need of funds.</p>

            <p>We can confirm the legitimacy of this fundraiser.</p>


            <p>If you would like to help, <a href="https://l.instagram.com/?u=https%3A%2F%2Fgofund.me%2F75b334fb&e=ATOeiuYsdyIKGjRJ_AWv1ns020HN9TMQHQJAVFf1GfXkHrw9O1kZCunbdYF6dkPjKoVWTUDV-tc7pT1nvWAfIA&s=1" target="_blank">here is a link to the fundraiser.</a></p>


            <p>
              Here is their <a href="https://www.instagram.com/ugandaskateboardcommunity" target="_blank">Instagram</a>
               - I can guarantee you that you will see some skate pics that you thought not possible.
            </p>
          </p>

        <span class="desktop-div m-3">
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618431767/uganda_fglrz9.png" class=" m-2 img-com">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618433074/ugandapark_xlfgoj.jpg" class=" m-2 img-com">
          </div>
          <br>
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618433075/uganda4_mzqkqw.png" class=" m-2 img-com">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618433075/uganda3_llus3o.png" class=" m-2 img-com">
          </div>


        </span>

        <span class="mobile-div">
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618431767/uganda_fglrz9.png" class=" w-100 m-2 img-com">
          </div>
          <br>
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618433074/ugandapark_xlfgoj.jpg" class="  w-100 m-2 img-com">
          </div>
          <br>
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618433075/uganda4_mzqkqw.png" class=" w-100 m-2 img-com">
          </div>
          <br>
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618433075/uganda3_llus3o.png" class=" w-100 m-2 img-com">
          </div>

        </span>
        </div>
      </div>
    <br>
      <p>
        <a class="btn btn-white d-flex justify-content-between" data-toggle="collapse" href="#collapseq2" role="button" aria-expanded="false" aria-controls="collapseq2">
          <span>SkatePal - Palestine</span>
          <span>+</span>
        </a>
      </p>
      <div class="collapse" id="collapseq2">
        <div class="card card-body">
          <p>Supporting young people in war-torn Palestine with skateboarding
            through <a href="https://www.instagram.com/skate_pal/" target="_blank">Skatepal</a>
          </p>
          <p>SkatePal is a non-profit organisation supporting communities throughout Palestine, promoting the social, health and wellbeing benefits of skateboarding to enhance the lives of local youth. </p>
          <p>Its essentially a group of skateboarders that got together to teach kids in Palestine how to skateboard and to help grow the community there. </p>
          <p>

          </p>
          <p>Pictured on the right is
            <a href="https://www.instagram.com/_justinortega/" target="_blank">Justin Ortega</a>
            who was working as a skateboard teacher in Palestine with Skatepal.
          </p>

          <p>
            <a href="https://www.instagram.com/monsantokills" target="_blank">
              I myself
            </a>
            am super happy that organisations like Skatepal exist and already happily donated.
            If you want to donate as well, <a href="https://www.skatepal.co.uk/donate" target="_blank">
              click here
            </a>
          </p>

          <p></p>

        <span class="desktop-div m-3 ">
          <div class="d-flex justify-content-around container">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618564260/palestine1.png" class=" m-2 img-com">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618564315/palestine2.png" class=" m-2 img-com">
          </div>
          <br>

        </span>

        <span class="mobile-div">
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618564260/palestine1.png" class=" m-2 img-com">
          </div>
          <br>
          <div class="d-flex justify-content-around">
              <img src="https://res.cloudinary.com/diopgwo4d/image/upload/v1618564315/palestine2.png" class=" m-2 img-com">
          </div>


        </span>
        </div>
      </div>
</div>


<style type="text/css">
  .img-com{
      margin:auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;

  }
</style>
