<% content_for :meta_title, "SKATEZAR: Contact Us" %>
<% content_for :meta_description, "Contact us at office@skatezar.com" %>


<div class="container text-center">
  <a href="mailto:office@skatezar.com" class=" ml-1">Please reach out to us at office@skatezar.com</a>
</div>

