<div class="container">
  <h4 class="text-center">Thank You!</h4>
  <p class="text-center">Please give us 2 weeks to deliver your item!</p>
  <div class="d-flex justify-content-center">
    <%= link_to "View Orders", myorders_path, class: "btn btn-new" %>
  </div>
</div>
