
<div class="container">

</div>

<script type="text/javascript">
  alert('great success! You spent 2 skatezar coins.')
  setTimeout(() => {
    window.location.replace("https://www.skatezar.com");
  });

</script>

