.input-field{
  height:40px;
  border: 1px solid #C9C9C9;
}
::placeholder {
  padding-left: 10px;
}
.card{
  background-color: #F4F4F4;
  border: none;
}
.submit-form-button{
  background-color: white;
}
.light-border{
  border: 1px solid #C9C9C9;
}
